[Bb]in
[Oo]bj
*resharper.user
build/
[Hh]elp/
*.suo
*.sln.cache
_ReSharper.*/
*.user
/Data/Data
/Data/IndexDefinitions/
/Data/Index/
/Data/logs/
/Data/system/
/Data/temp/
*.InstallLog
/test/storage.raven
/Raven.Web/Data/
VERSION
/packages/
ClientBin/
/Raven.Tests.Silverlight.Results.xml
*.g.3.5.csproj
*.g.csproj
*.g.4.csproj
*.docstates
StyleCop.Cache
*.dotCover
RavenDB*.nupkg
*.orig